<div style="height: 100%;margin: 200px 0 0 50px">
    <mat-card [@inOutAnimation] class="mat-elevation-8" style="width: 450px;height: auto;margin: auto;">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div>
                    <mat-form-field appearance="outline">
                        <input type="text" matInput placeholder="Username" formControlName="username" />
                    </mat-form-field>
                </div>
          
    
                <div>
                    <mat-form-field appearance="outline">
                        <input type="password" matInput placeholder="Password" formControlName="password" />
                    </mat-form-field>
                </div>
          
    
    
                <div class="button">
                    <button type="submit" [routerLink]="['/register']" routerLinkActive="router-link-active"   mat-raised-button>Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

