<div class="page-wrapper" style="display: inline">
 

    <router-outlet></router-outlet>
  
</div>

<!-- <div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav>
      <div style="min-width: 300px;">
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
          <li>four</li>
          <li>five</li>
        </ul>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Responsive App</h1>
      </mat-toolbar>
      <main>Hi hello world</main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
