.page-wrapper{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.classsData {
    width: 200px;
    height: 400px;
    background-color: goldenrod;
}

.newClass {
    width: 400px;
    height: 200px;
    background-color: rgb(125, 32, 218);
}